</br>
<p>
  <b>Comentario:</b>
  <%= @comentario.comentario %>
</p>

<p>
  <b>Evento:</b>
  <%= @comentario.evento.try(:nombre) %>
</p>

<p>
  <b>Asistencia:</b>
  <%= @comentario.asistencia %>
</p>

<p>
  <b>Creado por:</b>
  <%= @comentario.usuario.try(:nombre) %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
