<h1>Listing eventos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Fecha</th>
    <th>Ubicacion</th>
    <th>Barrio</th>
    <th>Locación</th>
    <th>Hora</th>
    <th>Asistentes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eventos.each do |evento| %>
  <tr>
    <td><%= evento.nombre %></td>
    <td><%= evento.tipo %></td>
    <td><%= evento.fecha %></td>
    <td><%= evento.ubicacion %></td>
    <td><%= evento.barrio.nombre %></td>
    <td><%= evento.barrio.locacion %></td>
    <td><%= evento.hora %></td>
    <td><%= evento.asistentes %></td>
    <td><%= link_to 'Show', evento %></td>
    <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
    <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Evento', new_evento_path %>
