<% if usuario_signed_in? %>
<h4>Estos son los eventos de tu barrio <%= @BarrioEvento = current_usuario.barrio.try(:nombre) %> </h4>

<table>
  <tr>
    <th>Nombre</th>
    <th>Tipo</th>   
    <th>Ubicacion</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th>Asistentes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

    <% @eventos.each do |evento| %>
      <% if evento.barrio.try(:nombre) == @BarrioEvento %>
          <tr>          
            <td><%= evento.nombre %></td>
            <td><%= evento.tipo %></td>    
            <td><%= evento.ubicacion %></td>
            <td><%= evento.fecha %></td>
            <td><%= evento.hora %></td>
            <td><%= evento.asistentes %></td>
            <td><%= link_to 'Show', evento %></td>
            <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
            <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>    
    <% end %>
</table>

<%= link_to 'Nuevo Evento', new_evento_path, class: 'button [tiny small large]' %>
<% else %>
<h2>Estos son todos los eventos disponibles </h2>
    <h5>Ingresa ahora para ver sólo los eventos de tu barrio... o crear uno nuevo!</h5>
<table>
  <tr>
    <th>Nombre</th>
    <th>Barrio</th>
    <th>Fecha</th>
  </tr>
  <% @eventos.each do |evento| %>
  <tr>
    <td><%= evento.nombre %></td>
    <td><%= evento.barrio.try(:nombre)%></td>
    <td><%= evento.fecha %></td>
  </tr>
  <% end %>
</table>
<% end %>
