<h2>
  <%= @evento.nombre %>
  </br>
</h2>

<p>
  <b>Tipo:</b>
  <%= @evento.tipo %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @evento.descripcion %>
</p>

<p>
  <b>Fecha:</b>
  <%= @evento.fecha %>
</p>

<p>
  <b>Barrio:</b>
  <%= @evento.barrio.try(:nombre) %>
</p>

<p>
  <b>Ubicacion:</b>
  <%= @evento.ubicacion %>
</p>

<p>
  <b>Hora:</b>
  <%= @evento.hora %>
</p>

<h4>Deja tu comentario</h4>

<%= form_for(@comentario) do |f| %>
  <% if @comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% @comentario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label ' ' %>
    <%= f.text_area :comentario %>
  </div>
  <%= hidden_field_tag :evento_id, @evento.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= social_share_button_tag(@comentario.comentario) %>

<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
