<h1>Todas las alertas</h1>

<table>
  <tr>
    <th>Contenido</th>
    <th>Tipo</th>
    <th>Barrio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alerts.each do |alert| %>
  <tr>
    <td><%= alert.contenido %></td>
    <td><%= alert.tipo %></td>
    <td><%= alert.barrio.nombre %></td>
    <td><%= link_to 'Ver', alert %></td>
    <% if current_usuario.nombre == 'Andres Lastra Terán' %>
    <td><%= link_to 'Editar', edit_alert_path(alert) %></td>
    <td><%= link_to 'Eliminar', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alert', new_alert_path, class: 'button [tiny small large]' %>
