<p id="notice"><%= notice %></p>

<p>
  <b>Contenido:</b>
  <%= @alert.contenido %>
</p>

<p>
  <b>Tipo:</b>
  <%= @alert.tipo %>
</p>

<p>
  <b>Barrio:</b>
  <%= @alert.barrio.nombre %>
</p>


<%= link_to 'Edit', edit_alert_path(@alert) %> |
<%= link_to 'Back', alerts_path %>
