<h2><%= @usuario.nombre %></h2>

<p>
  <b>Username:</b>
  <%= @usuario.username %>
</p>

<p>
  <b>Email:</b>
  <%= @usuario.email %>
</p>

<p>
  <b>Barrio:</b>
  <%= @usuario.barrio.try(:nombre) %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @usuario.descripcion %>
</p>

<%= link_to 'Atras', usuarios_path, class: 'button' %>
