<h1>Listing alerta</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Contenido</th>
    <th>Tipo</th>
    <th>Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alerta.each do |alertum| %>
  <tr>
    <td><%= alertum.nombre %></td>
    <td><%= alertum.contenido %></td>
    <td><%= alertum.tipo %></td>
    <td><%= alertum.id %></td>
    <td><%= link_to 'Show', alertum %></td>
    <td><%= link_to 'Edit', edit_alertum_path(alertum) %></td>
    <td><%= link_to 'Destroy', alertum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Alerta', new_alertum_path, class: 'button [tiny small large]' %>
