<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @alertum.nombre %>
</p>

<p>
  <b>Contenido:</b>
  <%= @alertum.contenido %>
</p>

<p>
  <b>Tipo:</b>
  <%= @alertum.tipo %>
</p>

<p>
  <b>Id:</b>
  <%= @alertum.id %>
</p>


<%= link_to 'Edit', edit_alertum_path(@alertum) %> |
<%= link_to 'Back', alerta_index_path %>
